@import url(/base/swiper.min.css);
@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Regular.eot);
  src: local('TT Lakes Regular'), local('TTLakes-Regular'),
  url(./fonts/TTLakes-Regular.eot?#iefix) format('embedded-opentype'),
  url(./fonts/TTLakes-Regular.woff) format('woff'),
  url(./fonts/TTLakes-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Medium.eot);
  src: local('TT Lakes Medium'), local('TTLakes-Medium'),
  url(./fonts/TTLakes-Medium.eot?#iefix) format('embedded-opentype'),
  url(./fonts/TTLakes-Medium.woff) format('woff'),
  url(./fonts/TTLakes-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Bold.eot);
  src: local('TT Lakes Bold'), local('TTLakes-Bold'),
  url(./fonts/TTLakes-Bold.eot?#iefix) format('embedded-opentype'),
  url(./fonts/TTLakes-Bold.woff) format('woff'),
  url(./fonts/TTLakes-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* extends block ---------- */
.sidebar {
  width: 320px;
  background-color: #FFFFFF;
  transition: width 0.3s ease-in-out; }
  @media (min-width: 360px) {
    .sidebar {
      width: 360px; } }
  @media (min-width: 1366px) {
    .sidebar {
      width: 440px; } }

.button__close, .button__search, .button__call, .button__chat, .button__profile, .button__menu, .button__repair, .button__status, .service__round-button {
  background-repeat: no-repeat;
  background-position: center; }

.callback__form {
  margin-top: 20px;
  padding: 8px 16px; }

.callback__title::before, .feedback__title::before, .header__title::before {
  content: '';
  display: inline-block;
  background: #41F6D7;
  border-radius: 10px;
  width: 4px;
  height: 40px;
  transition: 0.3s ease-in-out; }

.header__mobile_right, .header__mobile_left {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.header__decorate_right::before {
  content: '';
  width: 2px;
  height: 32px;
  background: #EAEAEA;
  border-radius: 1px; }

.main__drop-button {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -0.2px;
  background-color: transparent; }

/* reset-style block start ---------- */
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

:focus, :active {
  outline: none;
  -webkit-tap-highlight-color: transparent; }

a:focus, a:active {
  outline: none; }

input::-ms-clear {
  display: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none;
  outline: none; }

ul li {
  list-style: none; }

strong {
  font-weight: normal; }

/* reset-style block end ---------- */
/* base-style block start ---------- */
nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 10px;
  font-family: "TT Lakes", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #F8F8F8; }

input, button, textarea {
  font-family: inherit; }

button {
  cursor: pointer; }

img {
  max-width: 100%;
  object-fit: cover; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/* base-style block end ---------- */
@-webkit-keyframes waves {
  0% {
    box-shadow: 0 8px 10px rgba(249, 92, 24, 0.3), 0 0 0 0 rgba(249, 92, 24, 0.2), 0 0 0 0 rgba(249, 92, 24, 0.2); }
  40% {
    box-shadow: 0 8px 10px rgba(249, 92, 24, 0.3), 0 0 0 15px rgba(249, 92, 24, 0.2), 0 0 0 0 rgba(249, 92, 24, 0.2); }
  80% {
    box-shadow: 0 8px 10px rgba(249, 92, 24, 0.3), 0 0 0 30px rgba(249, 92, 24, 0), 0 0 0 26.7px rgba(249, 92, 24, 0.067); }
  100% {
    box-shadow: 0 8px 10px rgba(249, 92, 24, 0.3), 0 0 0 30px rgba(249, 92, 24, 0), 0 0 0 40px rgba(249, 92, 24, 0); } }
@keyframes waves {
  0% {
    box-shadow: 0 8px 10px rgba(249, 92, 24, 0.3), 0 0 0 0 rgba(249, 92, 24, 0.2), 0 0 0 0 rgba(249, 92, 24, 0.2); }
  40% {
    box-shadow: 0 8px 10px rgba(249, 92, 24, 0.3), 0 0 0 15px rgba(249, 92, 24, 0.2), 0 0 0 0 rgba(249, 92, 24, 0.2); }
  80% {
    box-shadow: 0 8px 10px rgba(249, 92, 24, 0.3), 0 0 0 30px rgba(249, 92, 24, 0), 0 0 0 26.7px rgba(249, 92, 24, 0.067); }
  100% {
    box-shadow: 0 8px 10px rgba(249, 92, 24, 0.3), 0 0 0 30px rgba(249, 92, 24, 0), 0 0 0 40px rgba(249, 92, 24, 0); } }

/* buttons block start ---------- */
.button {
  width: 40px;
  height: 40px;
  background-color: #FF3E79;
  border-radius: 50%;
  border: none;
  transition: .3s; }
  .button:hover {
    text-align: center;
    transition: .3s;
    -webkit-animation: waves linear 1s infinite;
            animation: waves linear 1s infinite;
    box-shadow: 0 8px 10px rgba(249, 92, 24, 0.3); }
  .button__close {
    background-image: url(./static/close.svg); }
  .button__search {
    background-image: url(./static/search.svg); }
  .button__call {
    background-image: url(./static/call.svg); }
  .button__chat {
    background-image: url(./static/chat.svg); }
  .button__profile {
    background-image: url(./static/profile.svg); }
  .button__menu {
    background-image: url(./static/menu.svg); }
  .button__repair {
    background-image: url(./static/repair.svg); }
  .button__status {
    background-image: url(./static/checkstatus.svg); }

/* callback block start ---------- */
.callback {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  top: 0;
  right: 0;
  opacity: 0;
  z-index: 3;
  visibility: hidden;
  transition: 0.3s linear; }
  .callback__body {
    min-height: 100%;
    width: 320px;
    background-color: #FFFFFF;
    transform: translate(100%, 0);
    opacity: 0;
    transition: all .3s linear;
    box-shadow: 20px 0 47px rgba(0, 0, 0, 0.5); }
    @media (min-width: 360px) {
      .callback__body {
        width: 360px; } }
    @media (min-width: 1330px) {
      .callback__body {
        width: 440px; } }
  .callback_close {
    margin: 24px 16px 0;
    transition: 0.3s linear; }
    @media (min-width: 1330px) {
      .callback_close {
        transform: translate(-97px, 0px);
        transition: 0.3s linear; } }
  .callback__content {
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
    transition: 0.3s linear; }
    @media (min-width: 1330px) {
      .callback__content {
        transform: translate(0px, -64px);
        transition: 0.3s linear; } }
  .callback__title {
    transform: translate(-1px, 0px); }
    .callback__title::before {
      transform: translate(-14px, 11px); }
  .callback_open {
    opacity: 1;
    visibility: visible;
    transition: 0.3s linear; }
    .callback_open .callback__body {
      transform: translate(0, 0);
      opacity: 1; }
  .callback__form .form .form__label {
    margin: 0; }

/* feedback block start ---------- */
.feedback {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  top: 0;
  right: 0;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s linear; }
  .feedback_close {
    margin: 24px 16px 0;
    transition: 0.3s linear; }
    @media (min-width: 1330px) {
      .feedback_close {
        transform: translate(-97px, 0px);
        transition: 0.3s linear; } }
  .feedback__body {
    position: relative;
    min-height: 100%;
    width: 320px;
    background-color: #FFFFFF;
    transform: translate(100%, 0);
    opacity: 0;
    transition: all .3s linear;
    z-index: 2;
    box-shadow: 20px 0 47px rgba(0, 0, 0, 0.5); }
    @media (min-width: 360px) {
      .feedback__body {
        width: 360px; } }
    @media (min-width: 1330px) {
      .feedback__body {
        width: 440px; } }
  .feedback__content {
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
    transition: 0.3s linear; }
    @media (min-width: 1330px) {
      .feedback__content {
        transform: translate(0px, -64px);
        transition: 0.3s linear; } }
  .feedback__title {
    transform: translate(-1px, 0px); }
    .feedback__title::before {
      transform: translate(-14px, 11px); }
  .feedback__form {
    margin-top: 24px; }
  .feedback_open {
    opacity: 1;
    visibility: visible;
    transition: 0.3s linear; }
    .feedback_open .feedback__body {
      transform: translate(0, 0);
      opacity: 1; }

/* form block start ---------- */
.form {
  display: flex;
  flex-direction: column; }
  .form__label {
    margin: 0 0 16px 0;
    padding: 0 16px;
    display: flex;
    align-items: center;
    height: 48px;
    border: 1px solid #EAEAEA;
    border-radius: 8px; }
    .form__label_textarea {
      box-sizing: border-box;
      height: 118px;
      width: 100%;
      position: relative;
      transition: opacity 0.3s ease; }
  .form__input {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10%; }
    .form__input::-webkit-input-placeholder {
      text-indent: 0;
      transition: text-indent 0.5s ease; }
    .form__input::-moz-placeholder {
      text-indent: 0;
      transition: text-indent 0.5s ease; }
    .form__input:-ms-input-placeholder {
      text-indent: 0;
      transition: text-indent 0.5s ease; }
    .form__input::placeholder {
      text-indent: 0;
      transition: text-indent 0.5s ease; }
    .form__input:focus::-webkit-input-placeholder {
      text-indent: 500px;
      transition: text-indent 0.5s ease; }
    .form__input:focus::-moz-placeholder {
      text-indent: 500px;
      transition: text-indent 0.5s ease; }
    .form__input:focus:-ms-input-placeholder {
      text-indent: 500px;
      transition: text-indent 0.5s ease; }
    .form__input:focus::placeholder {
      text-indent: 500px;
      transition: text-indent 0.5s ease; }
    .form__input_textarea {
      height: 86px; }
      .form__input_textarea:focus::-webkit-input-placeholder {
        text-indent: -500px;
        transition: text-indent 0.5s ease; }
      .form__input_textarea:focus::-moz-placeholder {
        text-indent: -500px;
        transition: text-indent 0.5s ease; }
      .form__input_textarea:focus:-ms-input-placeholder {
        text-indent: -500px;
        transition: text-indent 0.5s ease; }
      .form__input_textarea:focus::placeholder {
        text-indent: -500px;
        transition: text-indent 0.5s ease; }
  .form__submit {
    background-position: 96px;
    transform: translate(149px, 120px); }
    @media (min-width: 360px) {
      .form__submit {
        transform: translate(185px, 120px); } }
    @media (min-width: 1366px) {
      .form__submit {
        transform: translate(254px, 120px); } }

/* header block start ---------- */
.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .header_hidden {
    display: none; }
    @media (min-width: 560px) {
      .header_hidden {
        display: flex;
        margin: 0 20px; }
        .header_hidden > button {
          margin: 0 5px; } }
  .header__mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
    background: #FFFFFF;
    border-bottom: 1px solid #D9FFF5;
    width: 100%; }
    @media (min-width: 1330px) {
      .header__mobile {
        display: none; } }
  @media (min-width: 1330px) {
    .header__logo {
      margin-left: 25px; } }
  @media (min-width: 370px) {
    .header_logo-position {
      margin: 0 20px; } }
  .header__decorate_left > button {
    margin: 0 15px; }
  @media (min-width: 370px) {
    .header__decorate_left::after {
      content: '';
      width: 2px;
      height: 32px;
      background: #EAEAEA;
      border-radius: 1px;
      transform: translate(-135px, 0);
      transition: 0.4s linear; } }
  .header__decorate_right::before {
    transform: translate(-7px, 0); }
  .header__decorate_right:last-child {
    margin: 0 20px; }
  .header__decorate_right > button:nth-of-type(1) {
    margin: 0 12px; }
  @media (min-width: 560px) {
    .header__decorate_right::before {
      transform: translate(185px, 0); } }
  .header__title-container {
    display: flex;
    justify-content: space-between; }
    @media (min-width: 1330px) {
      .header__title-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 17px 30px 0; } }
  .header__title {
    font-size: 2.8rem;
    letter-spacing: -0.6px; }
    .header__title::before {
      transform: translate(-23px, 11px); }
      @media (min-width: 1330px) {
        .header__title::before {
          transform: translate(-30px, 11px); } }
    .header__title_position {
      transform: translate(23px, 14px); }
      @media (min-width: 1330px) {
        .header__title_position {
          transform: none; } }
  .header__subtitle-container {
    display: none; }
    @media (min-width: 1330px) {
      .header__subtitle-container {
        display: flex;
        margin-top: 10px; }
        .header__subtitle-container > label {
          margin: 0 10px; } }
  .header__subtitle {
    display: flex;
    align-items: center;
    font-size: 1.6em;
    font-weight: 600; }
    .header__subtitle > button {
      margin-left: 10px; }

.container__header {
  width: 100%; }

/* main style block start ---------- */
@media (min-width: 1330px) {
  .main {
    max-width: 1466px;
    margin: 0 auto;
    display: flex;
    flex-direction: column; } }

@media (min-width: 1330px) {
  .main__content {
    display: flex;
    flex-direction: column;
    margin-left: 321px; } }

.main__navigate {
  margin-top: 30px; }

.main__navigate-menu {
  display: flex;
  overflow: scroll; }
  @media (min-width: 1330px) {
    .main__navigate-menu {
      display: flex;
      flex-wrap: wrap;
      overflow: auto; } }

.main__navigate-item {
  white-space: nowrap;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  margin-bottom: 10px;
  margin-left: 20px;
  color: #7E7E82;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: 0.4s ease-in-out; }
  .main__navigate-item:hover, .main__navigate-item:focus {
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 5px; }

.main__navigate-link {
  color: #7E7E82;
  font-size: 1.6rem; }

.main__about-us {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 10px; }
  @media (min-width: 768px) {
    .main__about-us {
      flex-direction: row;
      justify-content: space-between;
      margin: 0 20px; } }

.main__description {
  font-size: 1.4rem;
  line-height: 18px;
  letter-spacing: 0.2px;
  height: 371px;
  overflow: hidden;
  transition: 0.2s linear; }
  .main__description > p {
    margin: 15px 20px 15px 0; }
  @media (min-width: 360px) {
    .main__description {
      height: 300px; } }
  @media (min-width: 650px) {
    .main__description {
      height: 180px; } }
  @media (min-width: 768px) {
    .main__description {
      height: 310px; } }

.main__drop-button::before {
  display: inline-block;
  content: '';
  transform: translate(0, 6px);
  width: 24px;
  height: 24px;
  background: url(./static/expand.svg) no-repeat center; }

.main__description-button {
  transform: translate(-4px, -16px); }
  @media (min-width: 335px) {
    .main__description-button {
      margin-top: 15px; } }
  @media (min-width: 768px) {
    .main__description-button {
      position: absolute; } }

.main_hidden {
  height: 123px;
  transition: 0.2s linear; }

@media (min-width: 360px) {
  .main__photo {
    width: 360px;
    margin: 15px auto; } }

@media (min-width: 768px) {
  .main__photo > img {
    max-width: 360px; } }

@media (min-width: 1090px) {
  .main__photo {
    margin-right: 80px; }
    .main__photo > img {
      max-width: 450px; } }

@media (min-width: 1330px) {
  .main__photo {
    margin-right: 200px; }
    .main__photo > img {
      max-width: 531px; } }

.main__photo > img {
  border-radius: 10px; }

.main__description_container {
  position: relative; }

/* navigation block start ---------- */
.navigation {
  flex-grow: 1; }
  .navigation__item {
    display: flex;
    align-items: center;
    width: 320px;
    height: 43px;
    margin-left: 24px;
    position: relative;
    transition: 0.4s ease-in-out; }
    .navigation__item:hover::before {
      content: "";
      position: fixed;
      transform: translate(-24px, -13px);
      width: 4px;
      height: 30px;
      background: #41F6D7;
      border-radius: 20px; }
    .navigation__item_active:focus::before {
      content: "";
      position: fixed;
      transform: translate(-24px, -13px);
      width: 4px;
      height: 30px;
      background: #41F6D7;
      border-radius: 20px; }
  .navigation__link {
    width: 300px;
    height: 43px;
    font-size: 1.6rem;
    font-weight: 500;
    color: #1B1C21;
    transition: 0.3s ease-in-out;
    display: inline-block; }
    .navigation__link:focus {
      color: #7E7E82; }

/* repaired-brands block start ---------- */
.repaired-brands {
  margin-top: 40px; }
  @media (min-width: 768px) {
    .repaired-brands_hidden {
      height: 175px;
      overflow: hidden;
      transition: .2s linear; } }
  .repaired-brands__title {
    margin-top: 20px;
    margin-bottom: 16px; }
  .repaired-brands__wrapper {
    width: auto;
    margin-bottom: 16px;
    margin-left: 16px; }
    @media (min-width: 768px) {
      .repaired-brands__wrapper {
        height: 355px;
        overflow: hidden;
        flex-wrap: wrap;
        justify-content: center;
        transition: height .2s linear; } }
    @media (min-width: 1008px) {
      .repaired-brands__wrapper {
        height: 264px;
        transition: height .2s linear; } }
    @media (min-width: 1330px) {
      .repaired-brands__wrapper {
        margin-left: 26px; } }
  @media (min-width: 768px) {
    .repaired-brands__slide {
      margin: 8px 12px; } }
  .repaired-brands__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    height: 72px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    padding: 0 15px; }
    @media (min-width: 768px) {
      .repaired-brands__item {
        width: 224px; } }
    @media (min-width: 1330px) {
      .repaired-brands__item {
        width: 240px; } }
  .repaired-brands__link {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-right: 16px; }
  .repaired-brands__drop-button {
    display: none; }
    @media (min-width: 768px) {
      .repaired-brands__drop-button {
        display: inline-block;
        margin-top: 10px;
        margin-left: 40px; } }

/* service block start ---------- */
.service {
  height: 80px;
  background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
  display: flex;
  align-items: center;
  border-top: 1px solid #D9FFF5;
  border-bottom: 1px solid #D9FFF5; }
  .service__header {
    line-height: 24px;
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: 16px 24px;
    letter-spacing: -0.2px; }
  .service__button {
    width: 40px;
    height: 40px;
    background: #FFFFFF url(./static/go.svg) no-repeat center; }
  .service__round-button {
    background-image: url(./static/dropdown.svg);
    width: 119px;
    border-radius: 24px;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: -0.15px;
    text-transform: uppercase;
    color: #FFFFFF; }
    .service__round-button > span {
      display: inline-block;
      transform: translate(-10px, 0px);
      transition: 0.4s ease-in-out; }

/* sidebar block start ---------- */
.sidebar {
  width: 320px;
  display: none;
  flex-direction: column;
  height: 100vh; }
  @media (min-width: 320px) and (max-width: 1329px) {
    .sidebar {
      position: fixed;
      display: flex;
      justify-content: flex-end;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.95);
      top: 0;
      left: 0;
      z-index: 2;
      opacity: 0;
      visibility: hidden;
      transition: 0.3s linear; } }
  @media (min-width: 1330px) {
    .sidebar {
      display: flex;
      position: fixed; } }
  .sidebar_open {
    opacity: 1;
    visibility: visible;
    transition: 0.3s linear; }
    .sidebar_open .sidebar__body {
      transform: translate(0, 0);
      opacity: 1; }
  .sidebar__body {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 320px;
    background-color: #FFFFFF; }
    @media (min-width: 320px) and (max-width: 1329px) {
      .sidebar__body {
        transform: translate(-100%, 0);
        opacity: 0;
        transition: all .3s linear;
        z-index: 2;
        box-shadow: 20px 0 47px rgba(0, 0, 0, 0.2); } }
  @media (min-width: 1330px) {
    .sidebar_hidden {
      display: none; } }
  .sidebar__header {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 19px;
    padding-bottom: 35px; }
    @media (max-height: 695px) {
      .sidebar__header {
        padding: 10px 0;
        margin-bottom: 25px; } }
  .sidebar__logo {
    margin-left: 15px; }
  .sidebar__feedback {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: auto;
    margin-bottom: 40px; }
  .sidebar__feedback-container {
    margin-left: 10px; }
    .sidebar__feedback-container > button {
      margin-left: 10px; }
  .sidebar__contacts {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 30px; }
  .sidebar__contacts-email {
    font-size: 1.6rem;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 10px; }
  .sidebar__contacts-number {
    font-size: 2.4rem;
    line-height: 32px;
    letter-spacing: -0.6px;
    font-weight: 700;
    text-decoration: none;
    color: #1B1C21;
    margin-bottom: 20px; }
  .sidebar__languages {
    margin-left: 30px; }
  .sidebar__language-list {
    display: flex;
    flex-direction: row; }
  .sidebar__language-item {
    margin: 0 3px; }
    .sidebar__language-item > button {
      border: none;
      background-color: transparent;
      font-weight: 600; }
      .sidebar__language-item > button:hover, .sidebar__language-item > button:focus {
        color: #7E7E82; }

/* swiper block start ---------- */
@media (min-width: 768px) {
  .swiper-pagination {
    display: none; } }

.swiper-pagination-bullets {
  position: relative;
  margin: 20px auto;
  bottom: 0; }

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin: 0 6px;
  background: #DDDDDD; }

.swiper-pagination-bullet-active {
  background: #B5B6BC; }

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 0;
  left: 0;
  width: 100%; }

/* repair-equipment block start ---------- */
@media (min-width: 768px) {
  .repair-equipment {
    margin-top: 20px; } }

.repair-equipment__container {
  margin-top: 20px;
  margin-left: 20px; }

@media (min-width: 768px) {
  .repair-equipment__wrapper {
    height: 1056px;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
    transition: height .2s linear; } }

@media (min-width: 812px) {
  .repair-equipment__wrapper {
    height: 705px;
    transition: height .2s linear; } }

@media (min-width: 1076px) {
  .repair-equipment__wrapper {
    height: 530px;
    transition: height .2s linear; } }

@media (min-width: 1330px) {
  .repair-equipment__wrapper {
    height: 705px;
    transition: height .2s linear; } }

@media (min-width: 1397px) {
  .repair-equipment__wrapper {
    height: 530px;
    transition: height .2s linear; } }

.repair-equipment__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 240px;
  height: 160px;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  padding: 15px 15px; }
  @media (min-width: 768px) {
    .repair-equipment__item {
      width: 224px; } }
  @media (min-width: 768px) {
    .repair-equipment__item {
      width: 240px; } }

@media (min-width: 768px) {
  .repair-equipment__slide {
    margin: 8px 12px; } }

.repair-equipment__name {
  font-size: 1.6rem;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -0.2px;
  align-self: flex-start; }

.repair-equipment__drop-button {
  display: none; }
  @media (min-width: 768px) {
    .repair-equipment__drop-button {
      display: inline-block;
      margin-top: 10px;
      margin-left: 40px; } }

/* price block start ---------- */
@media (min-width: 768px) {
  .prices {
    margin-top: 20px; } }

.prices__container {
  margin: 20px 0 0 20px; }
  @media (min-width: 768px) {
    .prices__container {
      display: none; } }

.prices__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 260px;
  height: 200px;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  padding: 16px 16px; }

.prices__title {
  font-size: 1.4rem;
  line-height: 16px;
  color: #7E7E82;
  mix-blend-mode: normal;
  opacity: 0.72; }

.prices__subtitle {
  font-size: 1.4rem;
  line-height: 18px;
  letter-spacing: 0.2px;
  font-weight: 500;
  color: #000000; }

.prices__time-and-order {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translate(0px, 0px); }

.prices__button {
  position: absolute;
  transform: translate(98px, 130px);
  background-position: 97px;
  height: 32px; }

.prices__annotation-and-offer {
  padding: 0 35px;
  max-width: 550px; }

.prices__annotation {
  font-size: 1.4rem;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: black; }

.prices__offer {
  margin-top: 20px;
  margin-bottom: 47px; }

.prices__offer-link {
  font-size: 1.6rem;
  display: inline-block;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: -0.2px;
  color: black; }
  .prices__offer-link::after {
    content: url(./static/Line.svg);
    display: inline-block;
    transform: translate(11px, 1px); }

/* table style block start ---------- */
.table {
  display: none; }
  @media (min-width: 768px) {
    .table {
      display: block;
      margin: 30px 24px; } }
  .table__head {
    display: flex;
    margin: 16px 16px; }
  .table__header {
    font-size: 14px;
    line-height: 16px;
    color: #7E7E82;
    mix-blend-mode: normal;
    opacity: 0.72;
    width: 13%; }
    .table__header_grow {
      width: 55%; }
  .table__body {
    width: auto;
    background-color: #FFFFFF;
    border-radius: 10px; }
  .table__row {
    margin: 0 16px;
    display: flex; }
    .table__row:not(:last-child) {
      border-bottom: 1px solid #EAEAEA; }
  .table__data {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    width: 13%; }
    .table__data_grow {
      width: 55%; }
    .table__data_link {
      min-width: 120px;
      margin-left: auto; }
  .table__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 120px;
    height: 32px;
    margin-bottom: 16px;
    justify-self: flex-end; }
  .table__button {
    background-position: 97px;
    height: 32px;
    margin-top: 5px; }

/* footer block start ---------- */
.footer {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  line-height: 16px;
  color: #7E7E82;
  border-top: 1px solid #D9FFF5; }
  @media (min-width: 768px) {
    .footer {
      height: 88px;
      flex-direction: row;
      align-items: center; } }
  .footer__copyright {
    margin: 16px 0 0 0;
    text-align: center; }
    .footer__copyright > a {
      color: #7E7E82; }
    @media (min-width: 768px) {
      .footer__copyright {
        max-width: 33%;
        margin: 0 auto 16px; } }
  .footer__privacy {
    margin: 16px 0 0 0;
    text-align: center; }
    @media (min-width: 768px) {
      .footer__privacy {
        max-width: 33%;
        margin: 20px auto 16px;
        text-decoration: none; } }
    .footer__privacy > a {
      color: #7E7E82; }
  .footer__description {
    margin: 16px 0 16px 0;
    text-align: center; }
    @media (min-width: 768px) {
      .footer__description {
        max-width: 33%;
        margin: 0 auto 16px; } }

/* other block start ---------- */
.attention {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #7E7E82; }
  .attention strong {
    font-weight: 500;
    color: #FF3E79; }

.title {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: -0.6px;
  display: inline-block; }

@media (min-width: 768px) {
  .hidden_height {
    height: 175px;
    overflow: hidden; } }

.overflow {
  overflow: hidden; }


/*# sourceMappingURL=style.css.map*/