
// * variables file ---------- * //

$fontMain: "TT Lakes";

// * colors ---------- * //
$backgroundOpacity: rgba(255, 255, 255, 0.95);
$backgroundColorHTML: #F8F8F8;
$backgroundColorModule: #FFFFFF;
$repairedBrandsItems: #FFFFFF;
$buttonsColor: #FF3E79;
$decorationColorTitle: #41F6D7;
$attentionColor: #7E7E82;
$sidebarColor: #1B1C21;
$headerDecorateColor: #EAEAEA;
$aboutUsItemColor: #7E7E82;
$aboutUsItemColorTwo: #B8FFEC;
$paginationColor: #DDDDDD;
$paginationColorActive: #B5B6BC;
$serviceBorder: 1px solid #D9FFF5;
$pricesTitleColor: #7E7E82;
$pricesSubtitleColor: #000000;
$pricesAnnotationColor: black;
$tableHeaderColor: #7E7E82;
$tableBodyColor: #FFFFFF;
$tableRowColor: #EAEAEA;
$tableDataColor: #1B1C21;
$footerColor: #7E7E82;;

// * screen resolutions ---------- * //

$screenResolution: 1330px;
$screenResolutionModule: 1366px;

// * gradient / box-shadows / borders ----------- * //

$gradientServiceHeader: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
$borderDecor: 1px solid #D9FFF5;
$repairedBrandsItemsBorder:  1px solid #EAEAEA;
$boxShadowColor: -20px 0 -47px rgba(0, 0, 0, 0.2);