
// * callback style file ---------- * //

/* callback block start ---------- */

.callback {

  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  background-color: $backgroundOpacity;
  top: 0;
  right: 0;
  opacity: 0;
  z-index: 3;
  visibility: hidden;
  transition: 0.3s linear;

  &__body {

    min-height: 100%;
    width: 320px;
    background-color: #FFFFFF;
    transform: translate(100%, 0);
    opacity: 0;
    transition: all .3s linear;
    box-shadow: 20px 0 47px rgba(0, 0, 0, 0.5);

    @media (min-width: 360px) {
      width: 360px;
    }
    @media (min-width: $screenResolution) {
      width: 440px;
    }
  }

  &_close {

    margin: 24px 16px 0;
    transition: 0.3s linear;

    @media (min-width: $screenResolution) {
      transform: translate(-97px, 0px);
      transition: 0.3s linear;

    }
  }

  &__content {

    display: flex;
    flex-direction: column;
    padding: 15px 15px;
    transition: 0.3s linear;

    @media (min-width: $screenResolution) {
      transform: translate(0px, -64px);
      transition: 0.3s linear;

    }
  }

  &__header {
  }

  &__title {

    transform: translate(-1px, 0px);

    &::before {
      @extend %decorationTitle;
      transform: translate(-14px, 11px);
    }
  }

  &_open {
    opacity: 1;
    visibility: visible;
    transition: 0.3s linear;

    .callback__body {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  &__form {

    margin-top: 30px;

    & {
      .form {
        .form__label {
          margin: 0;
        }
      }
    }
  }
}
