
// table style file ----------//

/* table style block start ---------- */

.table {

  display: none;

  @media (min-width: 768px) {
    display: block;
    margin: 30px 24px
  }

  &__head {

    display: flex;
    margin: 16px 16px;
  }

  &__header {

    font-size: 14px;
    line-height: 16px;
    color: $tableHeaderColor;
    mix-blend-mode: normal;
    opacity: 0.72;
    width: 13%;

    &_grow {

      width: 55%;
    }
  }

  &__body {

    width: auto;
    background-color: $tableBodyColor;
    border-radius: 10px;
  }

  &__row {

    margin: 0 16px;
    display: flex;

    &:not(:last-child) {
      border-bottom: 1px solid $tableRowColor;
    }
  }

  &__data {

    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    width: 13%;

    &_grow {

      width: 55%;
    }

    &_link {

      min-width: 120px;
      margin-left: auto;
    }
  }

  &__container {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 120px;
    height: 32px;
    margin-bottom: 16px;
    justify-self: flex-end;
  }

  &__button {
    background-position: 97px;
    height: 32px;
    margin-top: 5px;


  }
}

